
*.aux
*.aux
*.bbl
*.blg
app_behavior_research_methods.aux
app_plos_one.aux
caps/abstract_en.aux
caps/abstract_es.aux
caps/actualizacion.aux
caps/agradecimientos.aux
caps/binario.aux
caps/conclusiones.aux
caps/dedicatoria.aux
caps/introduccion.aux
caps/marco.aux
caps/seleccion.aux
macros.aux
main.aux
main.bbl
main.blg
main.fdb_latexmk
main.fls
main.log
main.out
main.pdf
main.synctex.gz
main.toc
papers/behavior_research_methods.aux
papers/plos_comp_bio.aux
papers/plos_one_final.aux
papers/pre_final.aux
portada.aux
